
<div class="d-flex justify-content-center mt-4 mb-4 gap-2">
    <div>
        <button class="btn btn-outline-primary" [disabled]="isLoading" (click)="testeHttp()"> Astronomic image of the day </button>
    </div>
    <div>
        <button class="btn btn-outline-primary" [disabled]="isLoading" (click)="show()"> Search by date </button>
    </div>
    <div>
        <button class="btn btn-outline-primary" [disabled]="isLoading" (click)="clearImage()"> Clear image </button>
    </div>
    <div>
        <button class="btn btn-outline-primary" [disabled]="isLoading" (click)="download()"> Download image </button>
    </div>
</div>

@if(showPeriod){

    <form [formGroup]="form">
        <div class="d-flex justify-content-center mt-4 mb-4 gap-2">
            <input type="date" class="form-control w-25" formControlName="initDate">
            <p class="align-middle"> to </p>
            <input type="date" class="form-control w-25" formControlName="endDate">        
            <div>
                <button class="btn btn-outline-primary" [disabled]="isLoading" (click)="this.searchPeriod()">Search period</button>
            </div>
        </div>
    </form>

}

@if(!showPeriod){

    <div class="w-25 mx-auto">
        <img [src]="imageSource" class="d-block w-100 rounded">
    </div>

    <div class="mt-4 text-box">
        <p class="fst-italic text-secondary text-center w-50 font-monospace lh-sm"> {{ exp }}</p>
    </div>
}@else {
    <div id="apod" class="carousel slide w-25 mx-auto">
    
      <div class="carousel-inner">
        @for(i of imageList; track i; let idx = $index;){            

            <div class="carousel-item" [class.active]="idx===0">
                <img [src]="i.hdurl" class="d-block w-100 rounded">
                <div class="d-flex justify-content-between">
                    <p class="text-secondary fst-italic fs-6">{{ !i.copyright ? 'Unknown...' : i.copyright  }}</p>
                    <p>{{ formatDate(i.date.toString()) }}</p>
                </div>
            </div>            
        }
      </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#apod" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
    
      <button class="carousel-control-next" type="button" data-bs-target="#apod" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    
    </div>
    
    <div class="mt-4 text-box">
        <p class="fst-italic text-secondary text-center w-50 font-monospace lh-sm"> {{ this.exp }}</p>
    </div>

}
